:root {
  --lt-bg: rgb(243, 235, 237);
  --lt-pri: #9d1b57;
  --dk-bg: #767b91;
  --black: #061320;
}
/* .App {

} */
h1 {
  color: var(--lt-pri);
  font-size: 100px;
  text-align: justify;
  text-justify: inter-word;
  max-width: 668;
}
h2 {
  color: var(--black);
}
.form {
  background-color: var(--lt-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70%;
  width: 75%;
}
.centered-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input {
  border-radius: 4px;
}
.info {
  background-color: var(--lt-pri);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70%;
  width: 75%;
}
.menu {
  list-style-type: none;
  font-family: "Julius Sans One", sans-serif;
  margin-top: 91px;
  margin-left: 91px;
  height: min-content;
}
.menu-item {
  margin-bottom: 46px;
  text-decoration: underline;
  color: #767b91;
}
.greet {
  right: 0px;
  top: 610px;
  /* bottom: 160px; */
  margin: auto 160px;
  text-align: right;
  position: absolute;
}
.message {
  color: #9d1b57;
  font-size: 20px;
  font-family: "Kantumruy Pro", sans-serif;
}
.name {
  font-size: 96px;
  display: inline;
  font-family: "Julius Sans One", sans-serif;
}
.page {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
