:root {
  --lt-bg: rgb(243, 235, 237);
  --lt-pri: #9d1b57;
  --dk-bg: #767b91;
  --black: #061320;
}
/* .App {

} */
h1 {
  color: var(--lt-bg);
  font-family: "Julius Sans One", sans-serif;
  font-weight: normal;
}

.title {
  float: right;
  position: absolute;
  top: 2vh;
  right: 164px;
  font-size: 96px;
}
h2 {
  color: var(--black);
}
.form {
  background-color: var(--lt-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70%;
  width: 75%;
}
.centered-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input {
  border-radius: 4px;
}
.info {
  background-color: var(--lt-pri);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70%;
  width: 75%;
}
.menu {
  list-style-type: none;
  font-family: "Julius Sans One", sans-serif;
  margin-top: 91px;
  margin-left: 91px;
  height: min-content;
  padding-left: 0%;
}
.menu-item {
  margin-bottom: 46px;
  text-decoration: underline;
}
.greet {
  right: 160px;
  top: 610px;
  /* bottom: 160px; */

  text-align: right;
  position: absolute;
}
.message {
  color: #9d1b57;
  font-size: 20px;
  font-family: "Kantumruy Pro", sans-serif;
}
.name {
  font-size: 96px;
  display: inline;
  font-family: "Julius Sans One", sans-serif;
}
.page {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  scroll-snap-align: end;
}

.dark {
  background-color: var(--lt-pri);
}
.container {
  scroll-snap-type: y mandatory;
}
.summary {
  position: absolute;
  top: 50vh;
  margin-left: 112px;
}
.scroller {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
  position: relative;
}
body {
  overflow: hidden;
}
