:root {
  --lt-bg: rgb(243, 235, 237);
  --lt-pri: #9d1b57;
  --dk-bg: #767b91;
  --black: #061320;
}
/* .App {

} */
h1 {
  color: var(--lt-pri);
  font-size: 100px;
  text-align: justify;
  text-justify: inter-word;
}
h2 {
  color: var(--black);
}
.form {
  background-color: var(--lt-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70%;
  width: 75%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input {
  border-radius: 4px;
}
.info {
  background-color: var(--lt-pri);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70%;
  width: 75%;
}
.greet {
  margin-top: 5%;
  font-family: "Julius Sans One", sans-serif;
  overflow-y: visible;
  margin-left: 30px;
  margin-right: 30px;
}
